
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #eee;
}
/*
body {
	background: #0E2232 url('/public/img/bg.jpg') repeat;
}*/

.navbar-nav li {
	color: #fff;
}
.navbar-nav li.active {
	color: #fff;
	background: #555;
	background: rgba(0, 0, 0, 0.90);
}
.page-scroll {
	font-family: 'Droid Sans', sans-serif;
	padding: 10px 14px;
	display: block;
	cursor: default;
}

#contact {
	background: #f3f3f3;
}

#contact-form {
	padding: 16px;
	text-align: left;
	float: none;
}

.dotted {
	background: url('/public/img/dotted.png') repeat;
	height: 100%;
	width: 100%;
}

.container {
    /*display: table;
    vertical-align: middle;*/
	height: 100%;
	padding: 0;
}

.row {
	margin: 0;
	padding: 0;
}

.alert {
	text-align: left;
}

.vertical-center-row {
    /*display: table-cell;*/
    vertical-align: middle;
}

label {
	color: #577162;
	font-weight: normal;
}


h1 {
	color: #fff;
	font-size: 4em;
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;
	margin-top: 2em;
	cursor: default;
	text-shadow: -1px -1px 2px #555, 1px -1px 2px #555, -1px 1px 2px #555, 1px 1px 2px #555;
}

h2 {
	cursor: default;
}

h3 {
	color: #fff;
	font-family: 'Droid Sans', sans-serif;
	font-size: 24px;
	cursor: default; 
	text-shadow: -1px -1px 2px #333, 1px -1px 2px #333, -1px 1px 2px #333, 1px 1px 2px #333;
}

h4 {
	color: #333;
	font-family: 'Droid Sans', sans-serif;
	font-size: 24px;
	font-variant: small-caps;
	cursor: default;
	opacity: 0.8;
}

.brand-text {
	color: #FFF;
	text-align: left;
	font-size: 15px;
	cursor: default;
	opacity: 0.4;
}

.imageZoom {
  /*animation:move 7s ease-out infinite;
  -ms-animation:move 7s ease-out infinite;
  -webkit-animation:move 7s ease-out infinite;
  -moz-animation:move 7s ease-out infinite;
  position: absolute;
  left:-150px;
  top:-150px;*/
}

.nav-tabs {
	border: 0;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	border: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	border-radius: 4px;
}
.nav-tabs > li > a:hover {
	border: 1px solid #ddd !important;
	border-color: #eee #eee #ddd;
	border-radius: 4px;
}

.container > .navbar-header, 
.container-fluid > .navbar-header, 
.container > .navbar-collapse, 
.container-fluid > .navbar-collapse {
	margin-right: 30px;
}

.form-control {
	border: 2px solid #9B0;
}

#scroll-info {
	color: #fff;
	background: #000;
}

@-webkit-keyframes move {
  from {
  	transform: scale(1);
    -ms-transform: scale(1); /* IE 9 */
    -moz-transform: scale(1); /* Firefox */
  }
  to {
  	transform: scale(1.2);
    -ms-transform: scale(1.2); /* IE 9 */
    -moz-transform: scale(1.2); /* Firefox */
  }
}




.overlay-black {
	background: #000000;
}
.overlay-blue {
	background: #154469;
}
.overlay-green {
	background: #6F6E00;
}
.overlay-orange {
	background: #E7B122;
}
.overlay-red {
	background: #DC401C;
}
.overlay {
	position: absolute;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 70 ")";
	filter: alpha(opacity=70);
	zoom: 1;
	margin:0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.overlay-box {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 70 ")";
	filter: alpha(opacity=70);
	zoom: 1;
	float: none;
	padding: 1em;
}

.container > .row {
	height: 90%;
}

.our-solutions div h4 {
	color: #fff;
	background: #000;
	background: rgba(0, 0, 0, 0.76);
	padding: 10px;
	display: block;
}




@font-face {
  font-family: 'Flat-UI-Icons';
  src: url("/public/img/flat-ui-icons-regular.eot");
  src: url("/public/img/flat-ui-icons-regular.eot?#iefix") format("embedded-opentype"), 
  url("/public/img/flat-ui-icons-regular.woff") format("woff"); 
}

@font-face {
  font-family: 'fontello';
  src: url('/public/img/fontello.eot?74009398');
  src: url('/public/img/fontello.eot?74009398#iefix') format('embedded-opentype'),
       url('/public/img/fontello.woff?74009398') format('woff'),
       url('/public/img/fontello.ttf?74009398') format('truetype'),
       url('/public/img/fontello.svg?74009398#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fui-"],
[class*="fui-"] {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

.btn-circle {
	width: 50px;
	height: 50px;
	padding: 2px 4px;
	border: 2px solid #fff;
	border-radius: 35px;
	font-size: 37px;
	color: #fff;
	background: 0 0;
	margin-right: 2px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}


.btn-link:hover {color: #aaa; border-color: #aaa; text-decoration: none;}
.btn-link {
	color: #fff;
	font-size: 1.4em;
	border-radius: 5px;
	padding: 6px 10px;
	font-family: 'Droid Sans', sans-serif;
	text-shadow: 1px 1px 3px #000;
	font-variant: small-caps;
}
}


.fui-mail:before { content: "\e632"; }
.fui-triangle-up:before {content: "\e600";}
.fui-triangle-down:before {content: "\e601";}
.fui-triangle-up-small:before {content: "\e602";}
.fui-triangle-down-small:before {content: "\e603";}
.fui-triangle-left-large:before {content: "\e604";}
.fui-triangle-right-large:before {content: "\e605";}
.fui-arrow-left:before {content: "\e606";}
.fui-arrow-right:before {content: "\e607";}
.fui-plus:before {content: "\e608";}
.fui-cross:before {content: "\e609";}
.fui-check:before {content: "\e60a";}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.no-padding {
 	padding-right: 0;
	padding-left: 0;
 }
 
.icon-mail:before { content: '\e800'; } /* '' */
.icon-phone-outline:before { content: '\e801'; } /* '' */