{{template "header.html" .}}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row" id="intro-box">
                <div class="col-md-10 col-md-offset-1" align="center">
                    <h1><span>GOSPA</span></h1>

	                    <a id="contact-button" class="btn btn-circle">
	                        <i class="fa fa-angle-double-down animated"></i>
	                    </a>
					</h3>
                </div>
            </div>
			
			
		</div>
	</div>
</header>


<!-- Contact Section -->
<section id="scroll-contact" class="content-section text-center" style="display: none">
        <div class="col-lg-10 col-lg-offset-1" align="center">
			{{template "Contact/Form.html" .}}
        </div>
</section>


{{template "footer.html" .}}
