

<div class="row">
	<div class="col-xs-6" align="left">
		<span class="icon-mail" style="font-size:62px;"></span>
	</div>
	<div class="col-xs-6" align="right">
		<span class="icon-phone-outline" style="font-size:54px;"></span>
	</div>
</div>

<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
	<a href="#application" aria-controls="application" role="tab" data-toggle="tab">As Talent</a>
	</li>
    <li role="presentation">
	<a href="#client" aria-controls="client" role="tab" data-toggle="tab">As Client</a>
	</li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="application">
	<br>
	
	<form action="/App/Mail" method="POST" class="form-horizontal">
	  <div class="form-group">
	    <label for="name" class="col-sm-3 control-label">Name</label>
		<div class="col-sm-9">
	    	<input type="text" name="Name" class="form-control" id="name" placeholder="Enter your name...">
	  	</div>
	  </div>
	  <div class="form-group">
	    <label for="phone" class="col-sm-3 control-label">Phone</label>
		<div class="col-sm-9">
	    	<input type="tel" name="Phone" class="form-control" id="phone" placeholder="Eg. +32400000000">
	  	</div>
	  </div>
	  <div class="form-group">
	    <label for="email" class="col-sm-3 control-label">Email</label>
		<div class="col-sm-9">
	    	<input type="email" name="Email" class="form-control" id="email" placeholder="example@gmail.com">
	  	</div>
	  </div>
	  <div class="form-group">
	    <label for="cv" class="col-sm-3 control-label">Attach CV</label>
		<div class="col-sm-9">
	    	<input type="file" name="CV" id="cv">
	  	</div>
	  </div>
	  <div class="form-group">
	    <label for="email" class="col-sm-3 control-label">References</label>
	    <div class="col-sm-9">
			<input type="text" name="Reference" class="form-control" id="email" placeholder="Enter references if any...">
	  	</div>
	  </div>
	  <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-10">
	      <button type="submit" class="btn btn-info">Send Application</button>
	    </div>
	  </div>
	</form>
	
	
	
	
	
	</div>
    <div role="tabpanel" class="tab-pane fade" id="client">
	<br>
	
	
	
	
	
	
	</div>
  </div>

</div>