<p>&nbsp;</p>

{{template "flashSuccess.html" .}}
{{template "flashError.html" .}}

<!--<div class="row">
	<div class="col-xs-6" align="left">
		<span class="icon-mail" style="font-size:62px;"></span>
	</div>
	<div class="col-xs-6" align="right">
		<span class="icon-phone-outline" style="font-size:54px;"></span>
	</div>
</div>-->

<div role="tabpanel" id="contact-form"  class="col-lg-8">
<br>
<h4>Why not have a talk?</h4>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
	<a href="#application" aria-controls="application" role="tab" data-toggle="tab">As Talent</a>
	</li>
    <li role="presentation">
	<a href="#client" aria-controls="client" role="tab" data-toggle="tab">As Client</a>
	</li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content"><br>

    <div role="tabpanel" class="tab-pane fade in active" id="application">
		<form action="/Contact" method="POST" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="name">Full name</label>
		    <input type="text" name="post.Name" class="form-control" id="name" placeholder="Enter your name...">
		  </div>
		  <div class="form-group">
		    <label for="phone">Phone</label>
			<input type="tel" name="post.Phone" class="form-control" id="phone" placeholder="Eg. +32400000000">
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
			<input type="email" name="post.Email" class="form-control" id="email" placeholder="name@gmail.com">
		  </div>
		  <div class="form-group">
		    <label for="cv">Attach CV</label>
			<input type="file" name="post.CV" id="cv">
		  </div>
		  <div class="form-group">
		    <label for="email">Refered By</label>
		    <input type="text" name="post.Reference" class="form-control" id="email" placeholder="Enter references if any...">
		  </div>
		  <div class="form-group">
		    <div class="" style="float: right;">
		      <button type="submit" class="btn btn-default">Send</button>
		    </div>
		  </div>
		  <input type="hidden" name="post.IsClient" value="false">
		</form>
	</div>
	
    <div role="tabpanel" class="tab-pane fade" id="client">
		<form action="/Contact" method="POST" enctype="multipart/form-data">
		  <div class="form-group">
		    <label for="name">Full name</label>
		    <input type="text" name="post.Name" class="form-control" id="name" placeholder="Enter your name...">
		  </div>
		  <div class="form-group">
		    <label for="company">Company</label>
			<input type="tel" name="post.Company" class="form-control" id="company" placeholder="My Company">
		  </div>
		  <div class="form-group">
		    <label for="phone">Job Title</label>
			<input type="tel" name="post.Phone" class="form-control" id="phone" placeholder="Eg. +32400000000">
		  </div>
		  <div class="form-group">
		    <label for="email">Email</label>
			<input type="email" name="post.Email" class="form-control" id="email" placeholder="name@company.com">
		  </div>
		  <div class="form-group">
		    <label for="email">Refered By</label>
		    <input type="text" name="post.Reference" class="form-control" id="email" placeholder="Enter references if any...">
		  </div>
		  <div class="form-group">
		    <div class="" style="float: right;">
		      <button type="submit" class="btn btn-default">Send</button>
		    </div>
		  </div>
		  <input type="hidden" name="post.IsClient" value="true">
		</form>
	</div>
  </div>


</div>